html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.body {
    background-color: #1b1c1a;
    font-family: 'sans-serif';
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
}