html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.body {
    background-color: #1b1c1a;
    font-family: 'sans-serif';
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
}
.text-center {
    color: #00ff90;
    display: flex;
    justify-content: center;
    
    margin-top: 25px;
}
.form-control {
    margin-right: 15px;
    height: 40px;
    width: 250px;
    text-align: center;
}
.col-md-4 {
    text-align: center;
    color:white!important;
}
.movie-card {
    background-color: #26843b!important;
}