@model IEnumerable<Cinema.Data.Models.Session>

@{
    Layout = "_Layout";
}

<!DOCKTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <title>SpaceX</title>
    </head>
    <body>

        <div></div>
        <h1>Касир</h1>
        <form action="/" method="post">
            <button class="btn btn-outline-success">
                Роздрукувати квиток
            </button>
        </form>


        @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Cinema
            </div>
        </footer>*@
    </body>
</html>
