@*@model Cinema.ViewModels.BuyTicketViewModel*@
@model string

@{
    Layout = "_Layout";
}

<!DOCKTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <title>SpaceX</title>
    </head>
    <body>

        <div></div>
        <h1 class="text-center">Касир</h1>
        <form class="text-center" asp-action="CheckCode" asp-controller="Ticket" method="post">
            <input  class="form-control justify-content-center" type="text" name="bookCode" id="bookCode" placeholder="Код бронювання">
            <button type="submit" value="Роздрукувати квиток" class="btn btn-outline-success justify-content-center">Роздрукувати квиток</button>
        </form>
    </body>
</html>
